{% import "bootstrap/form.html" as wtf %}
{% extends "base.html" %} {% block content %}
    <main>
      <div class="container py-3">
        <div class="card text-bg-secondary px-5 py-4">
          <div class="row py-4">
            <div class="col-5">
              <img src="{{event.image}}" class="img-thumbnail" style="object-fit: cover; width: 500px; height: 500px;" >
            </div>
            <div class="col-6 px-5">
              <h1 class="display-1 text-light py-3">{{event.name}}</h1>
              <h1 class="display-6 text-light">Price: ${{event.price}}</h1>
              <br>
              <p>Event Status: <span class="badge bg-primary text-wrap">{{event.status}}</span></p>
              <p>
                Event Genre: {{event.genre}}<br>Artist: {{event.artist}}<br>Related Links:
                <ul>
                  <li>
                    <a href="{{event.external_link}}" target="_blank" id="ltl">Artists Page</a>
                  </li>
                </ul>
              </p>
              <br>
              <!-- Button trigger modal -->
              <div class="col-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#purchaseTicket">
                  Purchase Tickets
                </button>
              </div>
            </div>
            <div class="col-1">
              {% if event.userid == current_user.id %}
              <br><br>
              <a href="{{url_for('events.editevent', id = event.userid)}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </a>
              {% endif %}
            </div>
          </div>
          <br>
          <div class="row px-5">
            <div class="col px-5">
              <h4>Event Description</h4>
              <p>{{event.description}}</p>
            </div>
          </div>
          <div class="row py-4 px-5">
            <div class="col-4">
              <h4>Date</h4>
            </div>
            <div class="col-4">
              <h4>Location</h4>
            </div>
            <div class="col-4">
              <h4>Tickets</h4>
            </div>
          </div>
          <div class="row px-5">
            <div class="col-4">
              <h5>{{event.date}} {{event.time}}</h5>
            </div>
            <div class="col-4">
              <h5>{{event.venue}}</h5>
            </div>
            <div class="col-4">
              <h5>{{event.ticketcount}}/{{event.capacity}}</h5>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-md-12">
              <h2>Comments</h1>
            </div>
          <div class="row border-bottom">
            {{wtf.render_form(form,"/events/{0}/comment".format(event.id))}}
            {% for comment in event.comments %}
            <div class="col-md-12">
              <b>{{comment.user.username}} &nbsp {{comment.created_at}}</b>
              <p>{{comment.text}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
        
      </div>
    </main>
    
    <!-- Modal -->
    <div class="modal fade" id="purchaseTicket" aria-labelledby="purchaseTicket">
      <div class="modal-dialog" style="color: black">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="purchaseModalLabel">Purchase Tickets</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body center">
            <form method="post">
              {{ form.csrf_token }}
              <fieldset class="form-label">
                {{ pform.ticket_number.label }}
                {{ pform.ticket_number(class="form-control") }}
              </fieldset>
              <br>
              {{pform.submit(class="btn btn-primary", type="submit", value="Purchase Tickets")}}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}